.scroll-to-top-btn {
	position: fixed;
	width: 35px;
	height: 35px;
	bottom: 30px;
	right: 30px;
	z-index: 999;
	cursor: pointer;
	background-color: var(--color-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;

	svg {
		width: 25px;
		height: 25px;
		color: white;
	}

	&:hover {
		background-color: var(--color-background-button-hover);
		transition: all 0.3s ease 0s;
	}
}
