$container-max-widths: (
	sm: 540px,
	md: 720px,
	lg: 960px,
	xl: 1140px,
	xxl: 1324px,
);

@import '~bootstrap/scss/bootstrap';

* {
	list-style: none;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	scroll-behavior: smooth;
}

:root {
	--color-primary: rgba(7, 7, 7, 0.5);
	--color-border-bottom: #efeff4;
	--color-background-footer_1: #efeff4;
	--color-background-button: #410e63;
	--color-background-main: #410e63;
	--color-background-button-hover: #6200a3;
	--color-border-input: #c8c7cc;
	--color-border-product: #ddd;
	--color-icon: white;

	--color-facebook: #4267b2;
	--color-instagram: #ed3e1f;
	--color-youtube: #c9170a;
	--color-twitter: #55acee;
	--color-in: #0077b5;

	--color-tag-onlyStore: #f66d52;
	--color-tag-sale: white;
	--color-h2: #2a2a2a;
	--color-background-cate: #410e63;
	--color-a: #606060;
	--color-child-active: #f6f6f6;
	--color-hover: #85177b;
	--color-text-white: white;
	--color-text-black: black;

	--color-error: #dc3545;
	--color-success: #28a745;
}
a {
	text-decoration: none;
	color: var(--color-primary);
}

a:hover {
	text-decoration: none;
	color: var(--color-hover);
}
ul {
	padding: 0;
}
li {
	list-style-type: none;
}
button:focus,
input:focus-visible,
button:focus-visible,
select:focus-visible {
	outline: none;
}
